@if (skillSets().length) {
  <div class="skillset-container">
    @for (skillSet of skillSets(); track skillSet.name) {
      <section class="skillset">
        <h2>{{ skillSet.name }}</h2>
        <div class="skillset__canvas">
          <canvas
            baseChart
            [data]="chartDataMap[skillSet.name]"
            [type]="skillSet.type"
            [options]="skillSet.type === 'bar' ? chartOptions.bar : chartOptions.radar"
          ></canvas>
        </div>
      </section>
    }
  </div>
}
