@use 'variables';
@use 'mixins' as mixins;

@include mixins.screenAboveMobile {
  .skillset-container {
    display: flex;
    flex-wrap: wrap;
  }

  .skillset {
    flex-shrink: 0;
    flex-basis: 50%;
    flex-grow: 1;

    &__canvas {
      width: 90%;
    }
  }
}
