@use "@angular/material" as mat;
@import "variables";
@import "mixins";

mat-form-field,
mat-progress-bar {
  width: 100%;

  @include screenAboveMobile {
    width: 50%;
  }
}

.contact-form {
  &__error {
    color: map-get(mat.$red-palette, 500);
  }

  &__successful {
    color: map-get(mat.$green-palette, 500);
  }

  &__tick {
    width: 40px;
    height: 40px;
    font-size: 40px;
    vertical-align: middle;
  }

  &__smile {
    vertical-align: middle;
  }
}
