@use 'sass:map';
@use "@angular/material" as mat;
@use "mixins" as mixins;

mat-form-field,
mat-progress-bar {
  width: 100%;

  @include mixins.screenAboveMobile {
    width: 50%;
  }
}

.contact-form {
  &__error {
    color: map.get(mat.$m2-red-palette, 500);
  }

  &__successful {
    color: map.get(mat.$m2-green-palette, 500);
  }

  &__tick {
    width: 40px;
    height: 40px;
    font-size: 40px;
    vertical-align: middle;
  }

  &__smile {
    vertical-align: middle;
  }
}
