@use 'sass:map';
@use '@angular/material' as mat;
@use 'mixins' as mixins;

.main-nav {
  background: map.get(mat.$m2-cyan-palette, 500);
  padding: 8px 16px;
  display: flex;
  flex: 0 0 auto;

  .nav-item {
    color: #fff;
    display: none;
    text-decoration: none;
    font-size: 14px;
  }

  .main-nav__toggle {
    color: #fff;
  }

  @include mixins.screenAboveMobile {
    .nav-item {
      display: inline-flex;
    }

    .main-nav__toggle {
      display: none;
    }
  }
}
