@use 'typography';
@use 'theme';

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
}

main {
  display: block;
  padding: 20px;
}

jl-root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-body {
  flex-grow: 1;

  .mat-sidenav-content {
    position: absolute;
    right: 0;
    left: 0;
  }
}

.side-nav {
  width: 200px;
}

.main-content {
  position: absolute;
  right: 0;
  left: 0;
}
